.header{
border-bottom: 2px solid #32a852;
	
	
}
.page{


	
}
.footer{}

.column{
	/*border:1px solid black;*/
	width: 100%;
	margin:0px auto;
	background-attachment: fixed;
}
	

.page .column{
	height:100vh;
}
.body{
	margin:0px;
	padding: 0px;
}  

#logo{
	background-color: #ed6f1a;
	display: flex;
		width: 100%;
}
#logo1{

	flex-grow:1;

}
#social{
	flex-grow:1;
	text-align: right;}


#menu{

	
	display: flex;

}


#lg{
	width: 64px;
	height: 64px;

}
#ig{
	width: 37px;
	height:37px;
}
#fb{
	width: 37px;
	height: 37px;
}
#poziv{


	width: 10px;
	height: 10px;
}

.prijem{
	text-align: center;
	border-bottom: 2px solid whitesmoke;
	padding: 10px;
	background-color: black;
	color: white;
	margin-top: 0px;



}
#početna{
	border: 2px solid black;

	
	
}
.prva{
	font-size: 40px;
	text-align:center;
	font-family: arial black;
}
.druga{
	font-size: 40px;
	text-align:left;
	font-family: arial black;
}

#tri{
	background:black;
	border-bottom: 10px solid black;
}
.racunari{
	width: 180px;
	height: 180px;
	margin: 50px;
	border: 2px solid #42f578;
}
#pet{
	background:black;
}
#cet{
	border-top: 3px solid black;
}

.box {
    inline-size: 355px;
    overflow-wrap: break-word;
    border: 3px solid whitesmoke;
}

.kupi{
width: 177px;
height: 177px;
margin: 51px;
margin-bottom: 1px;
border: 5px solid whitesmoke;
border-radius: 11px;

	}





	}

	}
#periferija{
	height: 111px;
	width: 311px;

	border: 2px solid white;
	position:absolute;
	top: 2%;
	right: 46%;
}

.formular{

	color: white;
}


.aj{
	font-size: 41px;
}

.unesi{
	color: white;
position:absolute;
top: 24%;
right: 36%;
font-family: sans-serif;
}

#text{
	color: white ;
	position: absolute;
	top: 27%;
	right: 31%;
	font-size: 34px;

}
#kod a{
	height: 59px;
	width: 177px;
	margin: 51px;
	margin-top: 1px;
	flex-grow: 1;
text-align: center;
display:block;
padding: 10px 0px;
text-decoration: none;
color:black;
transition: 300ms;
background-color: #f21d2b;
font-size: 34px;}

#kod a:hover,
#kod a.active {
	background-color: black;
	color:white;}

#kod a:hover{
	font-size: 151% ;
	
}
#kod1 a{

	width: 177px;
	height: 59px;
	position: absolute;
	top:87%;
	right: 60%;
	
	flex-grow: 1;
text-align: center;
display:block;
padding: 10px 0px;
text-decoration: none;
color:black;
transition: 300ms;
background-color: #f21d2b;
font-size: 34px;
}
#kod1 a:hover,
#kod1 a.active {
	background-color: black;
	color:white;}

#kod1 a:hover{
	font-size: 151% 
}

#kod2 a{

	width: 177px;
	height: 59px;
	position: absolute;
	top: 87%;
	right: 38%;
	
	flex-grow: 1;
text-align: center;
display:block;
padding: 10px 0px;
text-decoration: none;
color:black;
transition: 300ms;
background-color: #f21d2b;
font-size: 34px;
}

#kod2 a:hover,
#kod2 a.active {
	background-color: black;
	color:white;}

#kod2 a:hover{
	font-size: 151% 
}

#kod3 a{
	width: 177px;
	height: 59px;
	position: absolute;
	top: 87%;
	right: 17%;
	
	flex-grow: 1;
text-align: center;
display:block;
padding: 10px 0px;
text-decoration: none;
color:black;
transition: 300ms;
background-color: #f21d2b;
font-size: 34px;

}
#kod3 a:hover,
#kod3 a.active {
	background-color: black;
	color:white;}

#kod3 a:hover{
	font-size: 151% }


	#prasina{


		position: absolute;
		border: 2px solid black;
		top: 71%;
		width: 299px;
		height: 222px;
		margin-top: 29px;
		margin-right: 29px;
	

	}

	#usluget{
		 inline-size: 299px;
    overflow-wrap: break-word;
    border: 1px solid red ;
    border-radius: 11px;
    background-color:#3003fc;


	}
	#usluged{
	 inline-size: 133px;
	 height: 277px;
    overflow-wrap: break-word;
    border: 3px solid black;
    margin-left: 304px; 
  position: absolute;
  top: 61%;
background-color:#3003fc;
border-radius: 11px;
color: white;

	}
	.usluge{
		font-size: 21px;
		color: white;
	}


	@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.jt {
  position:absolute;
  left: 24%;
  top: 89%;
  bottom: 0;
  right: 0;
  font-size: 39px;
  font-family: 'Staatliches', sans-serif;
  text-transform: uppercase;
  font-display: swap;
  text-shadow: 0 0 10px tomato;
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  witdh:800px;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2) ;
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3) ;
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4) ;
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5) ;
}

@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em)
  }
  0%   { 
  opacity: 0; 
  filter: blur(10px);
  
  }
  100% { 
  opacity: 1; 
  filter: blur(0px);
  }
}



.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
}

* { box-sizing: border-box }


#windows{

	border: 2px solid black;
	width: 259px;
	height: 159px;
	position: absolute;
	right:11%;
	top: 19%;
}

#windows1{


	border: 2px solid black;
	width: 259px;
	height: 159px;
	position: absolute;
	right:11%;

top: 52%;

}

.win{
	width: 259px;
	height: 159px;

}

#windows2{

	border: 2px solid black;
	width: 259px;
	height: 159px;
	position: absolute;
	right:11%;

top: 83%;
}

.win11:hover{

transform: scale(1.5);

}

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-size: 39px;
 
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

#drugau{

	width: 99%;
	height: 99%;
	border: 2px solid black;
}
.home{
	height: 37px;
	width: 37pxs;
}

.nado{
	font-size: 41px;
	border: 2px solid black;
	background-color:white;

}
.nado1{
	position: absolute;
	margin: 111px;
	margin-left: 611px;
}
.nado2{
margin: 66px;
	margin-right: 911px;
}
.kontakt{
	inline-size: 152px;
	overflow-wrap: break-word;
	position: absolute;
	left: 49%;
	border: 2px solid black;
}





* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 411px;
  position: absolute;
  margin: auto;
  top: 51%;
  right: 67%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Slideshow container */
.slideshow-container1 {
  max-width: 411px;
  position: absolute;
  margin: auto;
  top: 51%;
  right: 33%;
}

.left-banner{
	
	position: absolute;
	left: 1%;
	height: 80%;
	width: 25%;
	border: 2px solid white;
	background-color: white;

}
.right-banner{
	position: absolute;
	right: 1%;
	height: 80%;
	width: 25%;
	border: 2px solid white;
	background-color: white;
	line-height: 6px;
}

.lij{

	display: block;
	width: 100%;
	height: 48%;
}

.monitor{
width: 100%;
	height: 51%;
}

.drugas{
	width: 100%;
	height: 100%;
	border: 2px solid white;
}

.left-banner2{
	
	position: absolute;
	left: 1%;
	height: 80%;
	width: 25%;
	border: 2px solid white;
	background-color: white;}

  .right-banner2{
	position: absolute;
	right: 1%;
	height: 80%;
	width: 25%;
	border: 2px solid white;
	background-color: white;
	line-height: 6px;
}
.center-banner{
	position: absolute;
	right: 39%;
	height: 80%;
	width: 25%;
	border: 2px solid white;
	background-color: white;
	line-height: 6px;
}
.glav{
	font-size: 29px;
	color: red;
}
.cij{
	font-size: 29px;
	color: red;
}